<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.xml.BaoxianPeisongMapper" >
  <resultMap id="BaseResultMap" type="com.chengniu.client.pojo.BaoxianPeisong" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="town_code" property="townCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="town_name" property="townName" jdbcType="VARCHAR" />
    <result column="id_card_address" property="idCardAddress" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, id_card_address,mobile, province_code, city_code, town_code, name, 
    address, user_id, user_type, province_name, city_name, town_name, deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from baoxian_peisong
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.chengniu.client.pojo.BaoxianPeisong" >
    insert into baoxian_peisong (id, create_time, update_time, 
      mobile, province_code, city_code, 
      town_code, id_card_address,  name, address, 
      user_id, user_type, province_name, 
      city_name, town_name, deleted
      )
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{mobile,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{townCode,jdbcType=VARCHAR},#{idCardAddress,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{townName,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <update id="update" parameterType="com.chengniu.client.pojo.BaoxianPeisong" >
    update baoxian_peisong
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="townCode != null" >
        town_code = #{townCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="townName != null" >
        town_name = #{townName,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="delete" parameterType="com.chengniu.client.pojo.BaoxianPeisong" >
    update baoxian_peisong
    set deleted = true  where id = #{id,jdbcType=VARCHAR} and user_id=#{userId,jdbcType=VARCHAR} and  user_type = #{userType,jdbcType=INTEGER}
  </update>
   <select id="page" resultMap="BaseResultMap" parameterType="com.kplus.orders.rpc.dto.PageSearchVO" >
    select 
    <include refid="Base_Column_List" />
    from baoxian_peisong
    where user_id = #{userId,jdbcType=VARCHAR} and deleted=0 and  user_type = #{userType,jdbcType=INTEGER}
    <include refid="common.page"></include>
  </select>
   <select id="pageCount" resultType="int"  parameterType="com.kplus.orders.rpc.dto.PageSearchVO" >
    select 
    count(*)
    from baoxian_peisong where user_id=#{userId,jdbcType=VARCHAR} and deleted=0 and  user_type = #{userType,jdbcType=INTEGER}
  </select>
</mapper>