<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.xml.PlatUserMapper" >
  <resultMap id="BaseResultMap" type="com.chengniu.client.pojo.PlatUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="view_name" property="viewName" jdbcType="VARCHAR" />
    <result column="app_key_prx" property="appKeyPrx" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
    <result column="client_type" property="clientType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, view_name, app_key_prx, app_key, app_secret, client_type, status, 
    create_datetime, update_datetime
  </sql>
    <select id="queryByAppKey" resultMap="BaseResultMap" parameterType="string" >
    select 
    <include refid="Base_Column_List" />
    from t_plat_user
    where app_key = #{key,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_plat_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.chengniu.client.pojo.PlatUser" >
    insert into t_plat_user (id, user_name, view_name, 
      app_key_prx, app_key, app_secret, 
      client_type, status, create_datetime, 
      update_datetime)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{viewName,jdbcType=VARCHAR}, 
      #{appKeyPrx,jdbcType=VARCHAR}, #{appKey,jdbcType=VARCHAR}, #{appSecret,jdbcType=VARCHAR}, 
      #{clientType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chengniu.client.pojo.PlatUser" >
    insert into t_plat_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="viewName != null" >
        view_name,
      </if>
      <if test="appKeyPrx != null" >
        app_key_prx,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="appSecret != null" >
        app_secret,
      </if>
      <if test="clientType != null" >
        client_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="viewName != null" >
        #{viewName,jdbcType=VARCHAR},
      </if>
      <if test="appKeyPrx != null" >
        #{appKeyPrx,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        #{clientType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chengniu.client.pojo.PlatUser" >
    update t_plat_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="viewName != null" >
        view_name = #{viewName,jdbcType=VARCHAR},
      </if>
      <if test="appKeyPrx != null" >
        app_key_prx = #{appKeyPrx,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null" >
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        client_type = #{clientType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chengniu.client.pojo.PlatUser" >
    update t_plat_user
    set user_name = #{userName,jdbcType=VARCHAR},
      view_name = #{viewName,jdbcType=VARCHAR},
      app_key_prx = #{appKeyPrx,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      client_type = #{clientType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>